* {
    box-sizing: border-box;
}

body {
    margin: 0 20px;
    
}
#todoCards {
    display: flex;
    flex-wrap: wrap;
}

.todoCard {
    position: relative;
    margin-right: 5px;
}

#btn {
    margin: 10px 0;
    width: 800px;
}

.delBtn {
    
}

.fa-solid {
    position: absolute;
    bottom: 11px;
    left: 148px;
    z-index: 4;
}